html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Roboto;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0 auto;
  background-color: #fff;
  max-width: 960px;
  padding-bottom: 5em;
}

a {
  text-decoration: none;
  color: #000;
}

.clear {
  clear: both;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}



.header {
  font-family: Montserrat;
  margin: 1em auto;
  margin-bottom: 1.5em;
  padding: 1em 0;
}

.logo {
  font-size: 3em;
  float: left;
  color: rgb(31,199,142);
}

.navigation {
  float: right;
  font-size: 0.8em;
}

.navigation li {
  display: inline-block;
  margin-left: 1rem;
  color: #000;
}
