.cryptocurrencies table {
  margin: auto;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.cryptocurrencies table th, .cryptocurrencies table td {
  padding: 0.5em 1em;
  margin: 0;
  text-align: center;
}

.cryptocurrencies table thead tr {
  background-color: #f5f5f5;
}

.cryptocurrencies table tbody tr {
  border-bottom: 1px solid #eee;
}

.cryptocurrencies table tbody tr td {
  padding: 0.5em 0;
}

.cryptocurrencies table th:first-child, .cryptocurrencies table tr td:first-child {
  width: 1em;
}

.cryptocurrencies table th:nth-child(2), .cryptocurrencies table tr td:nth-child(2) {
  text-align: left;
  max-width: 3em;
}

.cryptocurrencies table tr a {
  display: block;
  width: 100%;
}

.nameCell {
  height: 1.5em;
  line-height: 1.5em;
  max-width: 7em;
  white-space: nowrap;
  overflow: scroll;
  padding: 1em 1em;
}

.summary {
  float: left;
  width: 20%;
}

.icon {
  display: inline-block;
  font-family: Montserrat;
  color: orange;
}

.tag {
  font-family: Oswald;
}

.snapshot {
  float: right;
  width: 70%;
}

.values {
  display: inline-block;
  width: 32%;
}

.values p:first-child {
  font-family: Lato;
  margin: 0;
  letter-spacing: 0.08em;
}

.timePeriod {
  float: right;
  margin-top: 1em;
}

.timePeriod ul li {
  display: inline-block;
  width: 4em;
  text-align: center;
  margin-left: 1em;
  font-size: 0.8em;
  font-family: Lato;
  cursor: pointer;
}

.timePeriod ul li:hover {
  border-bottom: 4px solid rgb(31,199,142);
}

.selectedBorder {
  border-bottom: 4px solid rgb(31,199,142);
}

.selectedBg {
  background-color: rgb(31,199,142);
  border-radius: 0.5em;
}

.chartTooltip {
  background-color: #fff;
  border: 1px solid #aaa;
  padding: 1em;
}

.chartTooltip p {
  margin: 0;
}

.chartTooltip p:nth-child(2) {
  margin-top: 0.5em;
  color: rgb(31,199,142);
}
