.cryptocurrencies {

}

.cryptocurrencies table {
  margin: auto;
  border-collapse: collapse;
}

.cryptocurrencies table th, .cryptocurrencies table td {
  padding: 0.5em 1em;
  margin: 0;
  text-align: center;
}

.cryptocurrencies table thead tr {
  background-color: #f5f5f5;
}

.cryptocurrencies table tbody tr {
  border-bottom: 1px solid #eee;
}

.cryptocurrencies table tbody tr td {
  padding: 1.5em 0;
}

.cryptocurrencies table tbody tr td:nth-child(2) a {
  cursor: pointer;
}

.summary {
  float: left;
  width: 20%;
}

.fa-btc {
  color: #fff;
  background-color: orange;
  padding: 0.1em 0.2em;
  border-radius: 50%;
  transform:rotate(20deg);
}

.tag {
  font-family: Oswald;
}

.snapshot {
  float: right;
  width: 70%;
}

.values {
  display: inline-block;
  width: 32%;
}

.values p:first-child {
  font-family: Lato;
  margin: 0;
  letter-spacing: 0.08em;
}

.timePeriod {
  float: right;
  margin-top: 1em;
}

.timePeriod ul li {
  display: inline-block;
  width: 4em;
  text-align: center;
  margin-left: 1em;
  font-size: 0.8em;
  font-family: Lato;
  cursor: pointer;
}

.timePeriod ul li:hover {
  border-bottom: 4px solid rgb(31,199,142);
}

.selectedBorder {
  border-bottom: 4px solid rgb(31,199,142);
}

.selectedBg {
  background-color: rgb(31,199,142);
  border-radius: 0.5em;
}
